
body{
    background-color: #383737;
    margin: 0;
    padding: 0;
}

h1{
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

.wrapper{
    display: flex;
    height: 100vh;
    width: 100%;
}

aside{
  width: 150px; 
 
  background-color: rgb(38, 37, 37) ;
  color: white;
  padding: 20px;
}

.aside-container{
    display: flex;
    margin-top: 1rem;
    flex-direction: column;
    align-items: center;
    gap: 100px;
}

main {
  flex: 1;                   
  display: flex;
  flex-direction: column;    
  margin: 1rem;
 
}


.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
   

}

.usuario{
    display: flex;
    align-items: center;
    gap: 10px;
}

.usuario h2{
    font-size: 1.2rem;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

.usuario p{
    font-size: 0.7rem;
    color: white;
    margin-top: -20px;
    font-family: 'Courier New', Courier, monospace;
}

.logo{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}


.buscador{
    position: relative;
    display: inline-block;
}

.buscador .icon{

  position: absolute; /* Permite posicionar el icono libremente */
  top: 50%; /* Lo alinea verticalmente con el centro */
  left: 10px; /* Ajusta la posición horizontal según necesites */
  transform: translateY(-50%); /* Centra verticalmente el icono */
  pointer-events: none; /* Evita que el icono interfiera con la interacción del input */
  color: white;

}

.buscador .controlador{
    padding-left: 30px;
}


.buscador input{
    background-color: #d9d9d94f;
    width: 60%;
    height: 30px;
    border-radius: 5px;
    border: none;
    padding-left: 10px;
}


.contenido{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 1.3r;
    display: flex;
    flex-direction: row ;
    gap: 100px;
    justify-content: center; 
    align-items: center;      

}

.rectangulo {
  background-color: #F2E6E6;
  height: 150px;
  width: 50vh;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.rectangulo .text {
  text-align: start;
  margin:20px;

}

.rectangulo h1 {
  color: black;
  margin: 0;
  font-size: 1.2rem;
}

.rectangulo h2 {
  color: black;
  text-align: center;
  font-size: 3rem;
  margin: 0;
}

.rectangulo a {
 margin-left: auto;
}

.rectangulo a:hover {
  background-color: #ddd;
}

.imagen img{
    height: 100px;
    width: 100px;
    margin-top: 10px;
    margin-left: 80px;
}

.contenido2{
    display: flex;
    flex-direction: row;
    gap: 40px;
    
   
}

.partidos{
    margin-top: 2.5rem;
    width: 100%;
    background-color: rgb(38, 37, 37);
    border-radius: 10px;
}

.partidos h2{
    margin-left: 2rem;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}


.partidos-container{
    color: wheat;
    display: flex;
    flex-direction: row;
    justify-content: start ; 
    align-items: center;   
    gap: 130px;
}

.partidos-container h2,h3{
    margin-left: 2rem;
}

.imagen{
  height: 300px;
   width: 190px;  
}



.calendario{
    margin-top: 3rem;
    width: 20%;
    height: 300px;
    background-color: rgb(38, 37, 37);
    border-radius: 10px;
}

.calendario h2{
    margin-left: 2rem;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding: 10px;
}


select, input[type="month"] {
  background-color: #767171;
  color: white;
  border: none;
  padding: 3px;
  border-radius: 5px;
}

table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
  margin-top: 8px;
}

th {
  font-size: 12px;
  color:white;
}

td {
    color: white;
  width: 28px;
  height: 28px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s;
}

td:hover {
  background-color: #50604a;
}

.hoy {
  background-color: #d40909;
  color: white;
  border-radius: 5px;
}

.contenido3{
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.clima{
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
    background-color: rgb(38, 37, 37);
    border-radius: 10px;
    gap: 60px;
    align-items: center;
    justify-content: start;
    width: 100%;
    height: 9rem;
}

.clima img{
    height: 118px;
    width: 160px;
    margin-right: 10px;
    margin-top: 10px;
}

.clima h2{
    color: white;
    font-family: 'Courier New', Courier, monospace;
    margin: 10px;
    margin-top: 15px;
}

.trofeos{
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    background-color:rgb(38, 37, 37);
    border-radius: 10px;
   
    width: 100%;
    height: 9rem;
    
}

.trofeos h2{
    color: white;
    font-family: 'Courier New', Courier, monospace;
    margin: 10px;
    margin-top: 15px;
    text-align: center;
}

.trofeos a{
  margin-left: 3rem;
  text-decoration: none;
  color: rgb(92, 91, 91);
}



