*{
    margin: p;
    padding: 0;

}

body{
     margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-image: url(../img/Bgindex.jpg) ;
}

.container{
    background: rgba(0, 0, 0, 0.75);
    color: white;
    padding: 40px;
    border-radius: 10px;
    width: 350px;
    text-align: center;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);

}


h1{
    color:white;
    text-align: center;

}

form p{
    text-align: left;
    margin: 10px 0 5px;
    font-weight: bold;
}

input[type="email"], input[type="text"], input[type="password"], input[type="date"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: #ddd;
    font-size: 14px;
}

.opciones{
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.opciones a{
    color: white;
    text-decoration: none;
    font-size: 14px;
}

.opciones a:hover{
    text-decoration: underline;
    color: #00bfff;
}



.ask{
    margin-top:1rem;
    font-size: 14px;
    color: white;
}

.ask a{
    color: #00bfff;
    text-decoration: none;
}

.ask a:hover{
    text-decoration: underline;
    color: #0055cc;
}


.btn {
    margin-top: .6rem;
    width: 100%;
    padding: 10px;
    background: linear-gradient(to right, #001F54, #003366);
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s ease;
}

.btn:hover {
    background: linear-gradient(to right, #003366, #0055cc);
}





