<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../CSS/12Equipo.css">
    <title>Document</title>
</head>
<body>

    <aside class="sidebar">
        <div class="sidebar-logo">
        <img src="/IMG/Logo.svg" alt="Logo Sport Connect">
        <h2>SPORT CONNECT</h2>
        </div>

        <nav class="sidebar-menu">
        <a href="/"><i data-lucide="home"></i> Inicio</a>
        <a href="#" ><i data-lucide="bar-chart-3"></i> Estadísticas</a>
        <a href="#"><i data-lucide="target"></i> Entrenamientos</a>
        <a href="#"><i data-lucide="users-2"></i> Equipos</a>
        <a href="#"><i data-lucide="settings"></i> Configuración</a>
        </nav>

        <div class="logout">
        <a href="/HTML/1Inicio.html"><i data-lucide="log-out"></i> Cerrar sesión</a>
        </div>
    </aside>

    <main class="equipos-main">


    <section class="equipos-destacados">
        <h2>Equipos Destacados</h2>
        <div class="equipos-grid">
            <div class="equipo-card">
                <h3>Equipo 1</h3>
                <p>Entrenador: Carlos Pérez</p>
                <span class="categoria">Categoría: Sub-20</span>
            </div>
            <div class="equipo-card">
                <h3>Equipo 2</h3>
                <p>Entrenador: Juan López</p>
                <span class="categoria">Categoría: Libre</span>
            </div>
            <div class="equipo-card">
                <h3>Equipo 3</h3>
                <p>Entrenador: Diego García</p>
                <span class="categoria">Categoría: Femenino</span>
            </div>
        </div>
    </section>

    <section class="todos-equipos">
        <h2>Todos los Equipos</h2>
        <div class="equipos-grid">
            <div class="equipo-card">
                <h3>Equipo 4</h3>
                <p>Entrenador: Luis Ramos</p>
                <span class="categoria">Categoría: Sub-18</span>
            </div>
            <div class="equipo-card">
                <h3>Equipo 5</h3>
                <p>Entrenador: Ana Torres</p>
                <span class="categoria">Categoría: Mixto</span>
            </div>
            <div class="equipo-card">
                <h3>Equipo 6</h3>
                <p>Entrenador: Jorge Silva</p>
                <span class="categoria">Categoría: Libre</span>
            </div>
        </div>
    </section>
</main>


    

    
</body>
</html>