<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SPORT - Login</title>
    <link rel="stylesheet" href="../static/css/index.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
</head>
<body>

    <div class="login-wrapper">
        <!-- Sección izquierda: Imagen o mapa -->
        <div class="login-left">
            <img src="../static/img/ISP.png" alt="Mapa del Perú con temática de fútbol">
        </div>

        <!-- Sección derecha: Formulario -->
        <div class="login-right">
            <div class="login-box">
                <h1 class="logo">SPORT</h1>
                <p class="subtitle">Gestión de Partidos de Fútbol - Perú</p>

                <form>
                    <label for="email">Usuario</label>
                    <input type="email" id="email" placeholder="Ingresa tu usuario" required>

                    <label for="password">Contraseña</label>
                    <div class="password-container">
                        <input type="password" id="password" placeholder="Ingresa tu contraseña" required>
                        <i class="bi bi-eye-slash" id="togglePassword"></i>
                    </div>

                    <input class="btn" type="submit" value="Iniciar Sesión">
                </form>
            </div>
        </div>
    </div>

    <script src="../static/js/password.js"></script>
</body>
</html>
