<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Listado de Ligas</title>
  <link rel="stylesheet" href="/CSS/9ListadoLigas.css" />
  <script src="https://unpkg.com/lucide@latest"></script>
</head>
<body>
  <header>
    <div class="header-container">
      <div class="header-logo">
        <img src="/IMG/Logo.svg" alt="Logo">
        <span>SPORT CONNECT</span>
      </div>

      <nav class="menu">
        <div class="dropdown">
          <a href="/dashboard-entrenador">Volver</a>
        </div>
      </nav>
    </div>
  </header>

  <section class="listado-ligas">
    <h1>Listado de Ligas</h1>
    <div class="tabla-container">
      <table>
        <thead>
          <tr>
            <th><i data-lucide="trophy"></i> Liga</th>
            <th><i data-lucide="map-pin"></i> Ubicación</th>
            <th><i data-lucide="calendar-days"></i> Temporada</th>
            <th><i data-lucide="users"></i> Equipos</th>
            <th><i data-lucide="more-horizontal"></i> Acciones</th>
          </tr>
              </thead>

         <tbody>
                <tr th:each="l : ${ligas}">
                  <td  th:text="${l.nombre}"></td>
                  <td style="text-align: center;" th:text="${l.ubicacion}"></td>
                  <td style="text-align: center;" th:text="${l.temporada}"></td>
                  <td style="text-align: center;" th:text="${l.equipos}"></td>
                  

              <td class="acciones">
                  <button class="accion-btn">
                    <a href=""><i data-lucide="eye"></i></a>
                  </button>
                  </td>
                </tr>
              </tbody>
        
      </table>
    </div>
  </section>

  <footer>
    <p>© 2025 SportConnect. Todos los derechos reservados.</p>
  </footer>

  <script>
    lucide.createIcons();
  </script>
</body>
</html>
