<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/registro.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    <title>Registro</title>
</head>
<body>
    
    <section>

    <div class="container">

        <h1>Crear Cuenta</h1>

        <form action="">

            <p>Usuario</p>
            <input type="text" placeholder="Ingresa tu Usuario" required>


            <p>Correo</p>
            <input type="email" placeholder="Ingresa tu Correo" required>

            <p>Fecha de Nacimiento</p>
            <input type="date" placeholder="Ingresa tu fecha de naciemiento" required>

            <p>Contraseña</p>
            <input type="password"  class="password" placeholder="Ingresa tu Contraseña">

            <p>Contraseña</p>
            <input type="password"  class="password" placeholder="Ingresa tu Contraseña">        
            
             <div class="opciones">
                <label >
                   Aceptas los terminos y condiciones
                    <input type="checkbox" name="" id="">
                   
                   
                </label>
            </div>


            <div class="ask">
                 <p>Aun no tienes cuenta? <a href="">registrate aqui</a></p>
            </div>
            
            <input class="btn" type="submit" value="Registrarse">

        </form>

  

    </div>

        
    </section>

    <script src="../static/js/password.js"></script>
</body>
</html>